*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build
*/build/
/release/
captures/
.externalNativeBuild
.cxx
local.properties
Thumbs.db
*.log
output.json
*.jks
*.keystore
fabric.properties
/.vscode/settings.json
